spring:
  application:
    name: spring-batch
  datasource:
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5431/postgres?charSet=UTF-8
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
  sql:
    init:
      mode: never

logging:
  level:
    org.springframework.jdbc: ERROR
    org.springframework.batch: debug
